<?xml version="1.0" encoding="utf-8"?>
<!-- 
    O objetivo deste arquivo é bloquear o acesso aos arquivos de modelo que não devem ser
    requisitados diretamente.
-->
<configuration>
    <system.web>
      <httpHandlers>
        <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" validate="true"/>
      </httpHandlers>
    </system.web>
</configuration>